<h2>I am the server component nazwa: {{ serverName }}</h2>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">
  guzik w komponencie server - property binding
</button>
<p>
  see boolean value of allowNewServer changing - string interpolation:
  {{ allowNewServer }}
</p>
<p>see boolean value of allowNewServer changing - prop binding:</p>
<p [innerText]="allowNewServer"></p>
<p>{{ serverCreation }}</p>
<label>Server name:</label>
<input type="text" class="form-control" (input)="onUpdateServerName($event)" />
<p>{{ serverName }}</p>
<input type="text" class="form-control" [(ngModel)]="serverName" />
<p>to way databinding przez ngModel: {{ serverName }}</p>
<br>
<div class="frame">
    <p *ngIf="serverCreated; else noServer">hello, you clicked the button so there is a new thing added to the dom (ngIf directive) {{ serverName }}</p>
    <ng-template #noServer>
        <p>this is rendered because server has not been created, if you click the button something will replace this content (ng-template)</p>
    </ng-template>
</div>

<p [ngStyle]="{backgroundColor: getColor()}">{{ 'Server' }} with ID {{ serverId }} is {{ getServerStatus() }}</p>
<br>
<p *ngFor='let server of servers'>jakis paragraf zeby pocwiczyc ngFor</p>
<br>


<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <p>assignment, databinding:</p>
        <label>update your username:</label>
        <input type="text" class="form-control" [(ngModel)]="username" />
        <p>the username is: {{ username }}</p>
        <p>green button is clickable only if the username is not na empty string and clears the input field</p>
        <button class="btn btn-success" [disabled]="username === ''" (click)="username = ''">reset input field</button>
    </div>
  </div>
</div>

<br>
<br>
